.button {
    --text: #fff;
    --plane: #0ea5e9;
    --background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    padding: 0;
    width: 140px;
    height: 60px;
    background: none;
    color: var(--text);
    cursor: pointer;
    outline: none;
  }
  .button svg.btn-layer {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    pointer-events: none;
    fill: var(--background);
  }
  .button svg.plane {
    z-index: 3;
    position: absolute;
    left: 32px;
    display: block;
    width: 26px;
    height: 28px;
    fill: #fff;
    transform: translate3d(0, 0, 0);
    perspective: 500px;
  }
  .button > ul {
    list-style: none;
    padding: 0 5px 0 0;
    position: relative;
    overflow: hidden;
  }
  .button > ul > li {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    font: 400 16px 'Varela Round', sans-serif;
    transition: transform .3s ease 0s, opacity .3s ease 0s;
  }
  .button > ul > li:first-child {
    opacity: 1;
  }
  .button > ul > li:last-child {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
  }
  .button.active svg.plane {
    animation: 1.5s orbit alternate linear;
    fill: var(--plane);
  }
  .button.active > ul > li {
    transform: translateY(-100%);
    transition: transform .3s ease 1.2s, opacity .3s ease 1.2s;
  }
  .button.active > ul > li:first-child {
    opacity: 0;
  }
  .button.active > ul > li:last-child {
    opacity: 1;
  }
  .button:hover svg.plane {
    transform: rotate(10deg);
    transition: transform .15s;
    fill: var(--plane);
  }
  
  @keyframes orbit {
    0% {
      transform: rotate3d(1,0,0,0deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-in;
    }
    10% {
      z-index: 3;
      transform: rotate3d(1,.6,0,-10deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-out;
    }
    20% {
      z-index: 3;
      transform: rotate3d(1,.6,0,30deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-out;
    }
    30% {
      z-index: 3;
      transform: rotate3d(1,.6,0,35deg) translateZ(60px) scale3d(1,1,1);
    }
    40% {
      z-index: 1;
      transform: rotate3d(1,.6,0,120deg) translateZ(60px)  scale3d(.7,.7,1);
    }
    70% {
      z-index: 1;
      transform: rotate3d(1,.6,0,240deg) translateZ(60px)  scale3d(.7,.7,1);
      animation-timing-function: ease-out;
    }
    100% {
      z-index: 3;
      transform: rotate3d(1,0,0,360deg) translateZ(60px)  scale3d(1,1,1);
    }
  }
  
  