@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Urbanist", sans-serif;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
}

section {
    padding: 52px 0;
    min-height: calc(100vh - 80px);
}

.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.18);
    z-index: 8888;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #00000084;
        z-index: 100;
        display: none;
    }

    .menu ul{
        width: 15rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;
        background: #fff;
        flex-direction: column;
        line-height: 30px;
        justify-content: center;
        align-items: center;       
    }

    .show__menu{
        display: block;
    }
    
}